.menu-lb {
  position: fixed;
  bottom: 0;
  left: 0;
  .menu-box {
    width: 2rem;
    text-align: center;
    > .m-2 {
      display: none;
    }
    &.active {
      > .m-2 {
        display: block;
        &:extend(.animated, .fadeInUp);
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
      }
      > a {
        background: #ff6b67;
        color: #fff;
      }
    }
    a {
      width: 2.6rem;
      height: 2.6rem;
      line-height: 2.6rem;
      border-radius: 3rem;
      margin-bottom: 0.5rem;
      text-align: center;
      display: block;
      background: #efefef;
      color: #333;
      > .iconfont {
        font-size: 1.6rem;
      }

    }
  }

}
