#withdrawListView {
  .za-media {
    padding: 1rem;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    margin-top: -1px;
    background: -ms-linear-gradient(top, #fff, #efefef); /* IE 10 */
    background: -moz-linear-gradient(top, #fff, #efefef); /*火狐*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef)); /*谷歌*/
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#efefef)); /* Safari 4-5, Chrome 1-9*/
    background: -webkit-linear-gradient(top, #fff, #efefef); /*Safari5.1 Chrome 10+*/
    .za-media-left {
      width: 30%;
    }
    .za-media-body {
      text-align: center;
    }
    .za-media-right {
      width: 45%;
      font-size: 1rem;
      color: #999;
      text-align: right;
    }
  }
}