{{? !it}}
<div class="sk-three-bounce">
    <div class="sk-child sk-bounce1"></div>
    <div class="sk-child sk-bounce2"></div>
    <div class="sk-child sk-bounce3"></div>
</div>
{{??}}
<div class="za-container">
    <div>
        <h1 class="detail-title">{{=it.data.title}}</h1>
        <span class="c666">2015-04-21</span> &nbsp;&nbsp;
        <a id="publicLink" data-action="/index.php?s=/Home/Article/linkClick.html"
           data-condition="{document_id:473,uid:-1,ip:2130706433,link_title:财神道}"
           href="index.php?s=/Home/Article/detail/id/3312.html">财神道</a>
    </div>

    <div class="detail">
        {{=it.data.content}}
    </div>
</div>
{{ } }}